@import url(https://db.onlinewebfonts.com/c/14936bb7a4b6575fd2eee80a3ab52cc2?family=Feather+Bold);
@font-face {
  font-family: "Feather Bold";
  src: url("TWI-Comunico/src/main/webapp/resources/core/fonts/feather_bold_by_typicalbro44_dee263c.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Feather Bold', sans-serif;
}

/*body {
  background-color: #f7f9fc;
  color: #333;
}*/

body {
  background-image:url("../img/fondo-lecciones.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #333;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #1cb0f6;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.logo h1 {
  font-size: 1.8em;
}

.logo-img {
  width: 50px;
  height: auto;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
  align-items: center;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

nav a.active {
  background-color: #2b70c9;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
}

nav a.active:hover {
  background-color: #215598;
}

.perfil {
  display: flex;
  align-items: center;
}

.user-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 8px;
  margin-right: 15px;
  transition: transform 0.3s ease;
}

.user-icon:hover{
  transform: scale(1.2);
}

.titulo {
  text-align: center;
  padding: 50px;
  font-size: 2.5em;
  margin-bottom: 10px;
  color: #333;
}

.titulo {
  text-align: center;
  padding: 50px;
  font-size: 2.5em;
  margin-bottom: 10px;
  color: #333;
}

.leccionesBasicas {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lecciones {
  height: 76px;
  width: 550px;
  padding: 20px;
  background-color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 1.2em;
  cursor: pointer;
  margin-bottom: 20px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.lecciones:hover {
  background-color: #89e219;
  color: white;
  transform: scale(1.05);
}

.volver-atras-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 49px;
}

.volver-atras {
  display: inline-block;
  width: 150px;
  padding: 10px;
  background-color: #fff;
  text-align: center;
  text-decoration: none;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 1em;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.volver-atras:hover {
  background-color: #ddd;
  transform: scale(1.05);
}

footer {
  background-color: #333;
  color: white;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  font-size: 1em;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 1200px;
}

.footer-section {
  flex: 1;
  margin: 0 20px;
}

.footer-section h4 {
  font-size: 1.2em;
  margin-bottom: 15px;
}

.footer-section p {
  font-size: 1em;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: #ffffff;
  text-decoration: none;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.footer-logo {
  width: 100px;
  margin-top: 10px;
}

.social-icons {
  display: flex;
  gap: 15px;
}

.social-icons a {
  color: white;
  font-size: 1.5em;
  text-decoration: none;
}

.social-icons a:hover {
  color: #ddd;
}

.footer-bottom {
  text-align: center;
  font-size: 0.9em;
}


/* Alfabeto */

/*.vida-flotante{
  position: fixed;
  z-index: 1;
  font-size: 30px;
  color: #b90606;
}

#vidaYNum {
  right: 40px;
  top: 15%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #0057b3a1;
  width: 70px;
  height: 70px;
  border-radius: 40%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

#vidaYNum h4 {
  margin-right: 10px;
  color: white;
  font-size: 20px;
  font-weight: bold;
}
#vidaYNum:hover{
  background-color: #0057b3c1;
  transform: scale(1.1);
  border: #01152b;
  box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.7);
  transition: all 0.3s ease;
}*/

/*----------------------------Seccion abecedario--------------------*/
.braille-grid, .señas-grid {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 20px;
  padding: 60px;
  max-width: 100%;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
}
.señas-grid{
  grid-template-columns: repeat(7, 1fr);
}

.braille-item, .señas-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #e0e0e0;
  border-radius: 10px;
  font-size: 1.70em;
  color: #333;
  transition: background-color 0.3s ease;
}

.braille-item:hover, .señas-item:hover,.seña:hover,.sort-signs:hover, .sort-braille:hover {
  background-color: #1cb0f6;
  color: white;
  cursor: default;
}

.letra {
  margin-bottom: 10px;
  font-size: 1.5em;
}

.braille {
  font-size: 5em;
  margin: 20px 0;
}

/* Estilos para el modal */

/*.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border-radius: 10px;
  width: 30%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.btn-comprar {
  background-color: #0056b3;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

.btn-comprar:hover {
  background-color: #004495;
}*/

img{
  height: 120px;
  width: 120px;
}
.advertencia{
  font-size: 18px;
}

.sort{
  margin-left: 10%;
}

.sort-signs, .sort-braille{
  padding: 15px 18px;
  margin-left: 1.5%;
  border: none;
  border-radius: 8px;
  background-color: #dadada;
  font-size: 15px;
}