@import url(https://db.onlinewebfonts.com/c/14936bb7a4b6575fd2eee80a3ab52cc2?family=Feather+Bold);
@font-face {
    font-family: "Feather Bold";
    src: url("TWI-Comunico/src/main/webapp/resources/core/fonts/feather_bold_by_typicalbro44_dee263c.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Feather Bold', sans-serif;
}

body {
    background-image: url("../img/fondo-lecciones.jpg");
    background-size: cover;
    background-position: center;
    color: #333;
}

.titulo {
    text-align: center;
    padding: 20px;
    padding-bottom: 30px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
    color: #333;
    background-color: #ffffff;
    border: 1px solid rgba(81, 81, 81, 0.37);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.titulo h1{
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
    margin-top: 20px;
}

.titulo p {
    font-size: 1.3em;
    color: #555;
    margin-bottom: 20px;
    margin-top: 20px;
}

.titulo ul {
    list-style-type: none;
    width: 80%;
    margin: auto;
}

.titulo ul li {
    text-align: center;
    font-size: 1.3em;
    margin: 10px 0;
}
.titulo ul li i{
    color: #ff9600;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.points-container {
    display: flex;
    align-items: center;
}

#cantidad {
    margin-top: 20px;
    padding: 10px;
    font-size: 0.80em;
}

#precio {
    margin: 0;
    margin-top: 5px;
}

.comprar {
    margin-top: 10px;
    background-color: #ff9600;
    border: none;
    padding: 15px 30px;
    font-size: 1em;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.comprar:hover {
    background-color: #fdb352;
}

.alerta {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 25px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    opacity: 1;
    transition: opacity 0.5s ease;
    z-index: 1000;
}

.alerta.success {
    background-color: #4CAF50;
}

.alerta.error {
    background-color: #F44336;
}


