@import url(https://db.onlinewebfonts.com/c/14936bb7a4b6575fd2eee80a3ab52cc2?family=Feather+Bold);
@font-face {
    font-family: "Feather Bold";
    src: url("TWI-Comunico/src/main/webapp/resources/core/fonts/feather_bold_by_typicalbro44_dee263c.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Feather Bold', sans-serif;
}

body {
    background-color: #f7f9fc;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1cb0f6;
    color: white;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.logo h1 {
    font-size: 1.8em;
}

.logo-img {
    width: 50px;
    height: auto;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

nav a.active {
    background-color: #2b70c9;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}

nav a.active:hover {
    background-color: #215598;
}

.perfil {
    display: flex;
    align-items: center;
}

.user-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 8px;
    margin-right: 15px;
    transition: transform 0.3s ease;
}

.user-icon:hover{
    transform: scale(1.2);
}

.titulo {
    color: #333;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.form-buscar {
    margin-right: 20px;
}

.form-buscar input[type="text"] {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-filtrar {
    display: flex;
    align-items: center;
    gap: 15px;
}

label {
    display: block;
    margin-top: 10px;
}

select, input[type="text"], input[type="date"] {
    width: 150px;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-filtrar {
    padding: 10px;
    background-color: #58cc02;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-filtrar:hover {
    background-color: #46a001;
}

#botonVidas{
position: fixed;
background-color: #2B70C9;
border: none;
border-radius: 50px;
right:0.2%;
top: 25%;

}

#vidaYNum h4 {
    margin-right: 11px;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

#vidaYNum:hover{
    background-color: #1453A3;
    transform: scale(1.1);
    border: #01152b;
    transition: all 0.6s ease;
}
#vidas{
    font-size: 16px;
    color: #EA2B2B;
}

#vidaYNum {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #2B70C9;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    position: absolute;
    right: 100px;


}

.cursos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.curso-card {
    color: white;
    margin: 15px;
    border-radius: 10px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    transition: transform 0.2s, box-shadow 0.2s;
    display: flex;
    flex-direction: column;
}

.curso-card:nth-child(3n+1) {
    background-color: #ff9600;
}

.curso-card:nth-child(3n+2) {
    background-color: #1e90ff;
}

.curso-card:nth-child(3n) {
    background-color: #e74c3c;
}


.curso-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.curso-imagen img {
    width: 100%;
    height: auto;
}

.curso-info {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}
    .curso-nombre {
        font-size: 1.4em;
        font-weight: bold;
        margin: 10px 0;
        text-align: center;
    }

    .curso-datos {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: auto;
    }

    .curso-datos span {
        font-size: 0.9em;
        color: #f0f0f0;
    }

    .curso-datos i {
        margin-right: 5px;
    }

.btn-inscribirse {
    background-color: #4CAF50; /* Color verde */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.btn-inscribirse:hover {
    background-color: #45a049;
}


footer {
        background-color: #333;
        color: white;
        padding: 40px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
        font-size: 1em;
        width: 100%;
        position: relative;
        top: 200px;

    }

    .footer-container {
        display: flex;
        justify-content: space-around;
        width: 100%;
        max-width: 1200px;
    }

    .footer-section {
        flex: 1;
        margin: 0 20px;
    }

    .footer-section h4 {
        font-size: 1.2em;
        margin-bottom: 15px;
    }

    .footer-section p {
        font-size: 1em;
    }

    .footer-section ul {
        list-style: none;
        padding: 0;
    }

    .footer-section ul li {
        margin-bottom: 10px;
    }

    .footer-section ul li a {
        color: #ffffff;
        text-decoration: none;
    }

    .footer-section ul li a:hover {
        text-decoration: underline;
    }

    .footer-logo {
        width: 100px;
        margin-top: 10px;
    }

    .social-icons {
        display: flex;
        gap: 15px;
    }

    .social-icons a {
        color: white;
        font-size: 1.5em;
        text-decoration: none;
    }

    .social-icons a:hover {
        color: #ddd;
    }

    .footer-bottom {
        text-align: center;
        font-size: 0.9em;
    }