@import url(https://db.onlinewebfonts.com/c/14936bb7a4b6575fd2eee80a3ab52cc2?family=Feather+Bold);
@font-face {
    font-family: "Feather Bold";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Feather Bold', sans-serif;
}

body {
    background-image: url("../img/fondo-lecciones.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #333;
}


.cerrar {
    position: relative;
    top: 10px;
    left: 97%;
    border: none;
    margin:0;
    font-size: 1.7em;
    color: #333;
    cursor: pointer;
    text-decoration: none;
    padding: 0 7px;
    border-radius: 10px;
    background-color: #f44336;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    text-align: center;
    background-color: #fefefe;
    margin: 20% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 450px;
    border-radius: 10px;
}

.contenedorDeOpciones {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 15px;
}

.confirmar, .cancelar {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.confirmar {
    background-color: #1cb0f6;
    color: white;
}

.confirmar:hover {
    background-color: #2b70c9;
}

.cancelar {
    background-color: #f44336;
    color: white;
}

.cancelar:hover {
    background-color: #c62828;
}

.cerrar:hover {
    background-color: #f44336;
    color: #ff0000;
}

.titulo {
    color: #ff9600;
    text-align: center;
    margin: 20px 0;
}

.drop-area {
    width: 100%;
    max-width: 600px;
    height: 150px;
    font-size: larger;
    border: 2px dashed #ff9600;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
}

.contenedor-letras {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.letter {
    width: 70px;
    height: 70px;
    font-size: 2em;
    border: 2px solid #1cb0f6;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    cursor: grab;
    background-color: #e0eefa;
    border-radius: 10px;
    transition: background-color 0.3s;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #58cc02;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;/
    transition: background-color 0.3s;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button:hover {
    background-color: #46a001;
}

.message {
    margin-top: 20px;
    font-size: 18px;
    color: green;
    text-align: center;
}

.imagen{
    display: flex;
    justify-content: center;
    margin: 30px;
    align-items: center;
}

.imagen img{
    width: 100%;
    max-width: 480px;
    height: 160px;
}

.dropped-letter {
    display: inline-block;
    margin: 5px;
    padding: 10px;
    border: 2px solid #1cb0f6;
    border-radius: 10px;
    background-color: #e0eefa;/
    font-size: 2em;
}

.boton-ayuda{
    margin-top: 16px;
    padding: 8px 16px;
    font-size: 14px;
    background-color: #ce82ff;
    margin-bottom: 20px;
}

.boton-ayuda:hover {
    background-color: #b565ff;
}

.boton-ayuda-deshabilitado{
    opacity: 0.5;
    cursor: not-allowed;
    background-color: #3c3c3c
}

.boton-ayuda-deshabilitado:hover{
    background-color: #3c3c3c;
}

