body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    width: 80%;
    max-width: 600px;
}

#timer {
    font-size: 24px;
    margin-bottom: 20px;
}

.letras-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.letra {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    background-color: #e6f7ff;
    user-select: none;
}

.respuesta-container {
    border: 2px dashed #007bff;
    min-height: 50px;
    margin: 20px 0;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}