@import url(https://db.onlinewebfonts.com/c/14936bb7a4b6575fd2eee80a3ab52cc2?family=Feather+Bold);
@font-face {
    font-family: "Feather Bold";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Feather Bold', sans-serif;
}

body {
    background-image: url("../img/fondo-lecciones.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #333;
}


.titulo {
    color: #ff9600;
    font-size: 2.5em;
    text-align: center;
    margin: 40px 0;
}

.leccionesBasicas {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

.lecciones {
    height: 76px;
    width: 550px;
    padding: 20px;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 1.2em;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.lecciones:hover {
    background-color: #89e219;
    color: white;
    transform: scale(1.05);
}

.lecciones_deshabilitadas {
    height: 76px;
    width: 550px;
    padding: 20px;
    color: #605f5f;
    background-color: #8e8c8c;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 1.2em;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.swal2-confirm-button {
    background-color: #1cb0f6;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
}

.swal2-confirm-button:hover {
    background-color: #168cbf;
}

.swal2-cancel-button {
    background-color: #CCCCCC;
    color: #333333;
    border: none;
    border-radius: 5px;
}

.swal2-cancel-button:hover {
    background-color: #AAAAAA;
}

.swal2-icon.swal2-warning {
    color: #ff4b4b;
    border-color: #ff4b4b;
}


.swal2-confirm-button {
    background-color: #1cb0f6;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
}

.swal2-confirm-button:hover {
    background-color: #168cbf;
}

.swal2-cancel-button {
    background-color: #CCCCCC;
    color: #333333;
    border: none;
    border-radius: 5px;
}

.swal2-cancel-button:hover {
    background-color: #AAAAAA;
}

.swal2-icon.swal2-warning {
    color: #ff4b4b;
    border-color: #ff4b4b;
}


.swal2-confirm-button {
    background-color: #1cb0f6;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
}

.swal2-confirm-button:hover {
    background-color: #168cbf;
}

.swal2-cancel-button {
    background-color: #CCCCCC;
    color: #333333;
    border: none;
    border-radius: 5px;
}

.swal2-cancel-button:hover {
    background-color: #AAAAAA;
}

.swal2-icon.swal2-warning {
    color: #ff4b4b;
    border-color: #ff4b4b;
}

