<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Comunico </title>
    <link rel="icon" href="/TWI-Comunico/src/main/webapp/resources/core/img/icon.svg" type="image/x-icon">
    <link rel="stylesheet" href="/TWI-Comunico/src/main/webapp/resources/core/css/braille.css">
    <link href="https://db.onlinewebfonts.com/c/14936bb7a4b6575fd2eee80a3ab52cc2?family=Feather+Bold" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0c2f2ab9be.js" crossorigin="anonymous"></script>
</head>
<body>

<header>
    <div class="logo">
        <img src="/TWI-Comunico/src/main/webapp/resources/core/img/icon.svg" alt="Logo" class="logo-img">
        <h1>omunico</h1>
    </div>

    <nav>
        <ul>
            <li><a href="./inicio.html">Inicio</a></li>
            <li><a href="#" class="active">Lengua de Señas</a></li>
            <li><a href="./braille.html">Braille</a></li>
            <li><a href="#">Cursos Online</a></li>
            <img src="/TWI-Comunico/src/main/webapp/resources/core/img/perfil-icon.png" alt="Usuario" class="user-icon">
        </ul>
    </nav>
</header>
<h2 class="titulo"><i class="fa-regular fa-hand"></i>Alfabeto de Señas</h2>

<div class="sort">
    <input type = "submit" class = "sort-signs" value="Ordenar de la Z-A">
    <input type = "submit" class = "sort-signs" value="Ordenar de la A-Z">
</div>

<div class="señas-grid">
    <div class="señas-item">
        <span class="letra">A</span>
        <span>
            <img src="/TWI-Comunico/src/main/webapp/resources/core/img/AlfabetoDeSeñas/A.png" class="seña" alt="A">
        </span>
    </div>
    <div class="señas-item">
        <span class="letra">B</span>
        <span>
            <img src="/TWI-Comunico/src/main/webapp/resources/core/img/AlfabetoDeSeñas/B.png" class="seña" alt="B">
        </span>
    </div>
    <div class="señas-item">
        <span class="letra">C</span>
        <span>
            <img src="/TWI-Comunico/src/main/webapp/resources/core/img/AlfabetoDeSeñas/C.png" class="seña" alt="C">
        </span>
    </div>
    <div class="señas-item">
        <span class="letra">CH</span>
        <span>
            <img src="/TWI-Comunico/src/main/webapp/resources/core/img/AlfabetoDeSeñas/CH.png" class="seña" alt="CH">
        </span>
    </div>
    <div class="señas-item">
        <span class="letra">D</span>
        <span>
            <img src="/TWI-Comunico/src/main/webapp/resources/core/img/AlfabetoDeSeñas/D.png" class="seña" alt="D">
        </span>
    </div>
    <div class="señas-item">
        <span class="letra">E</span>
        <span>
            <img src="/TWI-Comunico/src/main/webapp/resources/core/img/AlfabetoDeSeñas/E.png" class="seña" alt="E">
        </span>
    </div>
    <div class="señas-item">
        <span class="letra">F</span>
        <span>
            <img src="/TWI-Comunico/src/main/webapp/resources/core/img/AlfabetoDeSeñas/F.png" class="seña" alt="F">
        </span>
    </div>
    <div class="señas-item">
        <span class="letra">G</span>
        <span>
            <img src="/TWI-Comunico/src/main/webapp/resources/core/img/AlfabetoDeSeñas/G.png" class="seña" alt="G">
        </span>
    </div>
    <div class="señas-item">
        <span class="letra">H</span>
        <span>
            <img src="/TWI-Comunico/src/main/webapp/resources/core/img/AlfabetoDeSeñas/H.png" class="seña" alt="H">
        </span>
    </div>
    <div class="señas-item">
        <span class="letra">I</span>
        <span>
            <img src="/TWI-Comunico/src/main/webapp/resources/core/img/AlfabetoDeSeñas/I.png" class="seña" alt="I">
        </span>
    </div>
    <div class="señas-item">
        <span class="letra">J</span>
        <span>
            <img src="/TWI-Comunico/src/main/webapp/resources/core/img/AlfabetoDeSeñas/J.png" class="seña" alt="J">
        </span>
    </div>
    <div class="señas-item">
        <span class="letra">K</span>
        <span>
            <img src="/TWI-Comunico/src/main/webapp/resources/core/img/AlfabetoDeSeñas/K.png" class="seña" alt="K">
        </span>
    </div>
    <div class="señas-item">
        <span class="letra">L</span>
        <span>
            <img src="/TWI-Comunico/src/main/webapp/resources/core/img/AlfabetoDeSeñas/L.png" class="seña" alt=L">
        </span>
    </div>
    <div class="señas-item">
        <span class="letra">M</span>
        <span>
            <img src="/TWI-Comunico/src/main/webapp/resources/core/img/AlfabetoDeSeñas/M.png" class="seña" alt="M">
        </span>
    </div>
    <div class="señas-item">
        <span class="letra">N</span>
        <span>
            <img src="/TWI-Comunico/src/main/webapp/resources/core/img/AlfabetoDeSeñas/N.png" class="seña" alt="N">
        </span>
    </div>
    <div class="señas-item">
        <span class="letra">Ñ</span>
        <span>
            <img src="/TWI-Comunico/src/main/webapp/resources/core/img/AlfabetoDeSeñas/Ñ.png" class="seña" alt="Ñ">
        </span>
    </div>
    <div class="señas-item">
        <span class="letra">O</span>
        <span>
            <img src="/TWI-Comunico/src/main/webapp/resources/core/img/AlfabetoDeSeñas/O.png" class="seña" alt="O">
        </span>
    </div>
    <div class="señas-item">
        <span class="letra">P</span>
        <span>
            <img src="/TWI-Comunico/src/main/webapp/resources/core/img/AlfabetoDeSeñas/P.png" class="seña" alt="P">
        </span>
    </div>
    <div class="señas-item">
        <span class="letra">Q</span>
        <span>
            <img src="/TWI-Comunico/src/main/webapp/resources/core/img/AlfabetoDeSeñas/Q.png" class="seña" alt="Q">
        </span>
    </div>
    <div class="señas-item">
        <span class="letra">R</span>
        <span>
            <img src="/TWI-Comunico/src/main/webapp/resources/core/img/AlfabetoDeSeñas/R.png" class="seña" alt="R">
        </span>
    </div>
    <div class="señas-item">
        <span class="letra">S</span>
        <span>
            <img src="/TWI-Comunico/src/main/webapp/resources/core/img/AlfabetoDeSeñas/S.png" class="seña" alt="S">
        </span>
    </div>
    <div class="señas-item">
        <span class="letra">T</span>
        <span>
            <img src="/TWI-Comunico/src/main/webapp/resources/core/img/AlfabetoDeSeñas/T.png" class="seña" alt="T">
        </span>
    </div>
    <div class="señas-item">
        <span class="letra">U</span>
        <span>
            <img src="/TWI-Comunico/src/main/webapp/resources/core/img/AlfabetoDeSeñas/U.png" class="seña" alt="U">
        </span>
    </div>
    <div class="señas-item">
        <span class="letra">V</span>
        <span>
            <img src="/TWI-Comunico/src/main/webapp/resources/core/img/AlfabetoDeSeñas/V.png" class="seña" alt="V">
        </span>
    </div>
    <div class="señas-item">
        <span class="letra">X</span>
        <span>
            <img src="/TWI-Comunico/src/main/webapp/resources/core/img/AlfabetoDeSeñas/X.png" class="seña" alt="X">
        </span>
    </div>
    <div class="señas-item">
        <span class="letra">Y</span>
        <span>
            <img src="/TWI-Comunico/src/main/webapp/resources/core/img/AlfabetoDeSeñas/Y.png" class="seña" alt="Y">
        </span>
    </div>
    <div class="señas-item">
        <span class="letra">Z</span>
        <span>
            <img src="/TWI-Comunico/src/main/webapp/resources/core/img/AlfabetoDeSeñas/Z.png" class="seña" alt="Z">
        </span>
    </div>

    <div class="señas-item">
        <span>
            <p class="advertencia">
                Advertencia: este es el abecedario Argentino de señas, puede que difiera con otros abecedarios
            </p>
        </span>
    </div>


</div>

<footer>
    <div class="footer-container">
        <div class="footer-section">
            <h4>Comunico</h4>
            <p>Aprendé lengua de señas y braille de manera divertida y accesible.</p>
            <img src="/TWI-Comunico/src/main/webapp/resources/core/img/Isologo-Comunico.svg" alt="Logo Comunico" class="footer-logo">
        </div>

        <div class="footer-section">
            <h4>Recursos</h4>
            <ul>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Preguntas Frecuentes</a></li>
                <li><a href="#">Términos y Condiciones</a></li>
                <li><a href="#">Política de Privacidad</a></li>
            </ul>
        </div>

        <div class="footer-section">
            <h4>Conocé más</h4>
            <ul>
                <li><a href="#">Sobre Nosotros</a></li>
                <li><a href="#">Cursos Disponibles</a></li>
                <li><a href="#">Testimonios</a></li>
                <li><a href="#">Carreras</a></li>
            </ul>
        </div>

        <div class="footer-section">
            <h4>Redes Sociales</h4>
            <div class="social-icons">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin"></i></a>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2024 Comunico - Todos los derechos reservados.</p>
    </div>
</footer>

</body>
</html>