<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Abecedario</title>
  <link rel="icon" th:href="@{/img/icon.svg}" type="image/x-icon">
  <link rel="stylesheet" th:href="@{/css/braille.css}">
  <link rel="stylesheet" th:href="@{/css/header.css}"/>
  <link href="https://db.onlinewebfonts.com/c/14936bb7a4b6575fd2eee80a3ab52cc2?family=Feather+Bold" rel="stylesheet">
  <script src="https://kit.fontawesome.com/0c2f2ab9be.js" crossorigin="anonymous"></script>
</head>

<body>

<div th:replace="header :: header"></div>

<h2 class="titulo"><i class="fa-solid fa-braille"></i>Abecedario</h2>

<div class="buscador">
  <form th:action="@{${#httpServletRequest.requestURI}}" method="get">
    <input  type="text" id="busqueda" th:name="letra" placeholder="Buscar letra">
    <button class="buscar" type="submit">Buscar</button>
  </form>
</div>

<div th:if="${mensaje}">
  <div class="mensaje" th:text="${mensaje}">Mensaje</div>
</div>

<div th:if="${letrasbraille}" class="braille-grid"
     th:classappend="${#lists.size(letrasbraille) == 1} ? 'single-result'">
  <div th:each="letra : ${letrasbraille}" class="braille-item">
    <span class="letra" th:text="${letra.nombre}">Letra</span>
    <img th:src="@{'/img/braille/' + ${letra.nombre}}" alt="Letra" class="braille-img">
  </div>
</div>

<div class="senia-grid">
<div th:if="${letrassenias}" class="senia-grid"
  th:classappend="${#lists.size(letrassenias) == 1} ? 'single-result'">
  <div th:each="letra : ${letrassenias}" class="senia-item" >
      <span class="letra" th:text="${letra.nombre}">Letra</span>
      <img class="senias-img" th:src="@{'/img/senias/' + ${letra.nombre}}" alt="Letra" >
    </div>
  </div>
</div>

<div th:replace="footer :: footer"></div>

</body>
</html>
