<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/comprarPoints.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}"/>
    <link rel="icon" th:href="@{/img/Isologo-Comunico.svg}" type="image/x-icon">
    <link href="https://db.onlinewebfonts.com/c/14936bb7a4b6575fd2eee80a3ab52cc2?family=Feather+Bold" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0c2f2ab9be.js" crossorigin="anonymous"></script>
    <script src="https://sdk.mercadopago.com/js/v2"></script>
    <title>ComunicoPoints</title>
</head>
<body>

<div th:replace="header :: header"></div>

<div id="alerta" class="alerta" th:if="${alerta}" th:text="${alerta}" th:classappend="${tipoAlerta}"></div>

<div class="titulo">
    <h1>¡Compra ComunicoPoints!</h1>
    <p>Con ComunicoPoints, puedes mejorar tu experiencia de aprendizaje obteniendo ayudas como:</p>
    <ul>
        <li><i class="fa-solid fa-dice-five"></i> Ayudas en los ejercicioTraduccions.</li>
        <li><i class="fa-solid fa-unlock"></i> Desbloquear lecciones inhabilitadas.</li>
        <li><i class="fa-solid fa-heart-circle-plus"></i> Comprar vidas extras para no perder el progreso.</li>
    </ul>

    <div class="game-container">
        <div>
            <input type="number" id="cantidad" placeholder="Cantidad de Comunico Points">
            <p id="precio">Total: $0</p>
        </div>

        <button onclick="MP()">Comprar</button>

        <div id="wallet_container"></div>
    </div>
</div>
<script th:src="@{/js/mp.js}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const alerta = document.getElementById('alerta');
        if (alerta) {
            setTimeout(() => {
                alerta.style.opacity = '0';
                setTimeout(() => alerta.remove(), 500);
            }, 4000);
        }
    });
</script>
</body>
</html>