<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ejercicio</title>

    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/ejercicios.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>

<div class="titulo-de-la-leccion">
    <img th:src="@{/img/icon.svg}" alt="Logo" class="logo-img"/>
    <h3>Ejercicio</h3>
    <img th:src="@{/img/perfil-icon.png}" alt="Usuario" class="user-icon"/>
    <div class="grupo_input" id="vidaYNum">
        <i class="fa-solid fa-heart" id="vidas"></i>
        <h4>5</h4>
    </div>
</div>

<div class="game-container">
    <div class="question">
        <p id="braille-letter" th:text="${ejercicio.consigna}"></p>
        <div id="braille-display" class="braille"></div>
        <div class="braille-item-sin-hover">
            <img th:src="@{/img/braille-a.png}">
        </div>
    </div>

    <form action="#" th:action="@{/resolver}" method="POST" th:object="${ejercicio}">
        <input hidden name="ejercicioId" th:value="${ejercicio.getId()}">

        <div class="contenedorDeOpciones">
            <div class="radioYLetraJuntos">
                <input class="option" type="radio" id="opcionCorrecta" name="opcionSeleccionada"
                       th:value="${ejercicio.opcionCorrecta.id}"/>
                <label class="optionLetra" th:for="opcionCorrecta" th:text="${ejercicio.opcionCorrecta.descripcion}">Opción correcta</label>
            </div>
            <div class="radioYLetraJuntos" th:each="opcion : ${ejercicio.opcionesIncorrectas}">
                <input class="option" type="radio" th:id="'opcion_' + ${opcion.id}" name="opcionSeleccionada" th:value="${opcion.id}"/>
                <label class="optionLetra" th:for="'opcion_' + ${opcion.id}" th:text="${opcion.descripcion}">Opción incorrecta</label>
            </div>

        </div>

        <button class="enviar" type="submit">Enviar</button>
    </form>

    <div th:if="${esCorrecta != null}">
        <div th:if="${esCorrecta}">
            <script th:inline="javascript">
                Swal.fire({
                    icon: 'success',
                    title: '¡Correcto!',
                    text: 'Respuesta correcta',
                    confirmButtonColor: '#4CAF50'
                });
            </script>
        </div>
        <div th:unless="${esCorrecta}">
            <script th:inline="javascript">
                Swal.fire({
                    icon: 'error',
                    title: '¡Incorrecto!',
                    text: 'Respuesta incorrecta',
                    confirmButtonColor: '#f44336'
                });
            </script>
        </div>
    </div>


</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>



</body>
</html>
