<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ejercicios de Velocidad</title>
    <link rel="icon" th:href="@{/img/icon.svg}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/ejercicio-forma-palabra.css}" />
    <link rel="stylesheet" th:href="@{/css/header.css}"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>

<div th:replace="header :: header"></div>

<button class="cerrar" id="botonCerrar">&#10005;</button>

<div id="modalSalir" class="modal">
    <div class="modal-content">
        <h2>¿Estás seguro que querés salir?</h2>
        <div class="contenedorDeOpciones">
            <button id="cancelarSalir" class="confirmar">Continuar</button>
            <button id="confirmarSalir" class="cancelar">Abandonar</button>
        </div>
    </div>
</div>

<div class="barra-experiencia">
    <div class="experiencia-llena" th:style="'width: ' + ${experiencia / 5000 * 100} + '%'">
        <p> <span th:text="${experiencia}" id="experiencia"> 0</span>/5000XP</p>
    </div>
</div>

<h1  class="titulo">Formá palabras</h1>

<div th:each="ejercicios : ${ejercicio}">
    <div  class="imagen">
        <div th:each="letra : ${ejercicio.respuestaCorrecta.toCharArray()}">
            <img th:src="@{'/img/braille/' + ${letra}}" alt="Letra en braille">
        </div>
    </div>

    <div class="drop-area" id="dropArea">
        <p>Arrastrá las letras acá</p>
        <div id="droppedLetters"></div>
    </div>
    <div class="contenedor-letras">
        <div style="display: flex; justify-content: center; flex-wrap: wrap;" th:each="letra : ${letras}">
            <div class="letter" th:text="${letra}" draggable="true" ondragstart="drag(event)"></div>
        </div>
    </div>
    <form th:action="@{'/resolver/' + ${indice}}" method="post">
        <input type="hidden" name="respuesta" id="listaLetras" value="">
        <input type="hidden" name="leccion" th:value="${leccion}"/>
        <input type="hidden" name="ejercicioId" th:value="${ejercicio.getId()}">
        <button type="submit">Verificar</button>
    </form>
    <form class="form-ayuda" th:action="@{'/ejercicio/' + ${indice} + '/ayuda'}" method="post">
        <input hidden name="ejercicioId" th:value="${ejercicio.getId()}">
        <input hidden name="leccion" th:value="${leccion}">

        <button type="submit"
                class="boton-ayuda"
                th:classappend="${(ayudas < 1 or (letras?.size() ?: 0) != 7) ? 'boton-ayuda-deshabilitado' : ''}"
                th:attr="disabled=${ayudas < 1 or (letras?.size() ?: 0) != 7}">
            Usar ayuda
        </button>
    </form>

    <input hidden th:attr="data-combinado=${combinado}" id="combinado"/>

    <div th:if="${esCorrecta != null}">
        <script th:inline="javascript">
            let siguienteTexto = [[${indice}]] < 3 ? 'Siguiente ejercicio' : 'Finalizar lección';
            let siguienteUrl = [[${indice}]] < 3 ? '/ejercicio/' + ([[${indice}]] + 1) + '?leccion=' + [[${leccion}]]
                : '/braille/lecciones/forma-palabras';
            let mensaje = [[${esCorrecta}]] ? 'Respuesta correcta' : 'Respuesta incorrecta';

            if (![[${esCorrecta}]] && [[${suscripcion}]] != 'premium') {
                mensaje += `\n Has perdido una vida <i class="fa-solid fa-heart-crack"></i>`;
                mensaje += `<br>Te quedan [[${vidas}]] vidas.`;
                mensaje += `<br>Tiempo restante para la próxima vida: <i class="fa-solid fa-clock-rotate-left"></i> [[${tiempoRestante}]] minutos.`;
            }

            Swal.fire({
                icon: [[${esCorrecta}]] ? 'success' : 'error',
                title: [[${esCorrecta}]] ? '¡Correcto!' : '¡Incorrecto!',
                html: mensaje,
                confirmButtonColor: [[${esCorrecta}]] ? '#4CAF50' : '#f44336',
                confirmButtonText: siguienteTexto
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = siguienteUrl;
                }
            });
        </script>
    </div>

    <span id="tiempoRestante" th:text="${tiempoRestante != null ? tiempoRestante : 0}" style="display:none;"></span>
    <script th:inline="javascript">
        document.getElementById("botonVidas").addEventListener("click", function() {
            let vidasRestantes = document.getElementById("vidasNumero").innerText;
            let tiempoRestante = document.getElementById("tiempoRestante").innerText;

            let esPremium = /*[[${suscripcion == 'premium'}]]*/ false;

            console.log("Tiempo restante:", tiempoRestante);

            let mensajeHtml = `Te quedan ${vidasRestantes} vidas <i class="fa-solid fa-heart"></i>.`;

            if (!esPremium) {
                mensajeHtml += `<br>Tiempo restante para la próxima vida: <i class="fa-solid fa-clock-rotate-left"></i> ${tiempoRestante} segundos.`;
            }

            Swal.fire({
                title: 'Vidas Restantes',
                html: mensajeHtml,
                icon: 'info',
                confirmButtonText: 'OK',
                didOpen: () => {
                    const script = document.createElement('script');
                    script.src = 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/js/all.min.js';
                    document.head.appendChild(script);
                }
            });
        });
    </script>


    <script th:inline="javascript">
        function actualizarExperiencia(experiencia) {
            const barra = document.querySelector('.experiencia-llena');
            const porcentaje = (experiencia / 5000) * 100;
            barra.style.width = porcentaje + '%';
            barra.style.backgroundColor = '#4caf50';  // Color de la barra cuando se llena
        }

        actualizarExperiencia([[${experiencia}]]);
    </script>

    <script th:inline="javascript">
        let esPremium = /*[[${suscripcion == 'premium'}]]*/ false;

        if (!esPremium) {
            Swal.fire({
                title: 'Vidas Restantes',
                html: `Te quedan ${vidasRestantes} vidas <i class="fa-solid fa-heart"></i>.<br>Tiempo restante para la próxima vida: <i class="fa-solid fa-clock-rotate-left"></i> ${tiempoRestante} segundos.`,
                icon: 'info',
                confirmButtonText: 'OK',
                didOpen: () => {
                    const script = document.createElement('script');
                    script.src = 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/js/all.min.js';
                    document.head.appendChild(script);
                }
            });
        }
    </script>

<script>

    document.getElementById('botonCerrar').onclick = function() {
        document.getElementById('modalSalir').style.display = 'block';
    };

    document.getElementById('cancelarSalir').onclick = function() {
        document.getElementById('modalSalir').style.display = 'none';
    };

    document.getElementById('confirmarSalir').onclick = function() {
        let combinado = document.getElementById("combinado").getAttribute("data-combinado");
        if(combinado != null && combinado){
            window.location.href = '/braille/lecciones/combinado';
        }else{
            window.location.href = '/braille/lecciones/forma-palabras';
        }
    };

    window.onclick = function(event) {
        const modal = document.getElementById('modalSalir');
        if (event.target === modal) {
            modal.style.display = 'none';
        }
    };
</script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script th:src="@{/js/ejercicio-forma-palabra.js}"></script>
</body>
</html>