<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forma Letras en Braille</title>
    <link rel="stylesheet" th:href="@{/css/formaLetras.css}" />
    <link rel="stylesheet" th:href="@{/css/header.css}"/>
    <link rel="icon" th:href="@{/img/icon.svg}" type="image/x-icon">
    <script src="https://kit.fontawesome.com/0c2f2ab9be.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>

<div th:replace="header :: header"></div>

<button class="cerrar" id="botonCerrar">&#10005;</button>

<div id="modalSalir" class="modal">
    <div class="modal-content">
        <h2>¿Estás seguro que querés salir?</h2>
        <div class="contenedorDeOpciones">
            <button id="cancelarSalir" class="confirmar">Continuar</button>
            <button id="confirmarSalir" class="cancelar">Abandonar</button>
        </div>
    </div>
</div>

<div class="barra-experiencia">
    <div class="experiencia-llena" th:style="'width: ' + (${experiencia} / ${experienciaMaxima} * 100) + '%'">
        <p><span th:text="${experiencia}" id="experiencia">0</span>/<span th:text="${experienciaMaxima}">0</span>XP</p>
    </div>
</div>


<h3 class="titulo" id="braille-letter" th:text="|Ejercicio ${(indice)} - Letra ${ejercicio.getLetra()}|"></h3>

<div class="game-container">
    <form th:action="@{'/resolver/' + ${indice}}" method="POST" onsubmit="return concatenarCheckboxes()">
        <input type="hidden" name="ejercicioId" th:value="${ejercicio.getId()}"/>
        <input type="hidden" name="leccion" th:value="${leccion}"/>
        <input type="hidden" name="respuesta" id="puntosSeleccionados"/>

        <div class="braille-matriz">
            <label><input type="checkbox" name="punto" value="1" class="braille-checkbox"></label>
            <label><input type="checkbox" name="punto" value="2" class="braille-checkbox"></label>
            <label><input type="checkbox" name="punto" value="3" class="braille-checkbox"></label>
            <label><input type="checkbox" name="punto" value="4" class="braille-checkbox"></label>
            <label><input type="checkbox" name="punto" value="5" class="braille-checkbox"></label>
            <label><input type="checkbox" name="punto" value="6" class="braille-checkbox"></label>
        </div>

        <div class="submit-container">
            <button type="submit" class="enviar">Enviar</button>
        </div>
    </form>

    <form class="form-ayuda" th:action="@{'/ejercicio/' + ${indice} + '/ayuda'}" method="post">
        <input hidden name="ejercicioId" th:value="${ejercicio.getId()}">
        <input hidden name="leccion" th:value="${leccion}">

        <button type="submit"
                class="boton-ayuda"
                th:classappend="${(ayudas < 1 or punto != null) ? 'boton-ayuda-deshabilitado' : ''}"
                th:attr="disabled=${ayudas < 1 or punto != null}">
            Usar ayuda
        </button>
    </form>

    <div th:if="${esCorrecta != null}">
        <script th:inline="javascript">
            let siguienteTexto = [[${indice}]] < 3 ? 'Siguiente ejercicio' : 'Finalizar lección';
            let siguienteUrl = [[${indice}]] < 3 ? '/ejercicio/' + ([[${indice}]] + 1) + '?leccion=' + [[${leccion}]]
                : '/braille/lecciones/matriz';
            let mensaje = [[${esCorrecta}]] ? 'Respuesta correcta' : 'Respuesta incorrecta';

            if (![[${esCorrecta}]]) {
                mensaje += `\n Has perdido una vida <i class="fa-solid fa-heart-crack"></i>`;
                mensaje += `<br>Te quedan [[${vidas}]] vidas.`;
                mensaje += `<br>Tiempo restante para la próxima vida: <i class="fa-solid fa-clock-rotate-left"></i> [[${tiempoRestante}]] minutos.`;
            }
            Swal.fire({
                icon: [[${esCorrecta}]] ? 'success' : 'error',
                title: [[${esCorrecta}]] ? '¡Correcto!' : '¡Incorrecto!',
                html: mensaje,
                confirmButtonColor: [[${esCorrecta}]] ? '#4CAF50' : '#f44336',
                confirmButtonText: siguienteTexto
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = siguienteUrl;
                }
            });
        </script>
    </div>
</div>

<input type="hidden" th:attr="data-punto=${punto}" id="punto-data">

<input hidden th:attr="data-combinado=${combinado}" id="combinado"/>

<script>
    window.onload = function() {
        const puntoData = document.getElementById("punto-data").getAttribute("data-punto");
        const indicePunto = parseInt(puntoData, 10);

        if (!isNaN(indicePunto) && indicePunto >= 0) {
            document.querySelectorAll('.braille-checkbox')[indicePunto].checked = true;
        }
    };
</script>
<script>
    function concatenarCheckboxes() {
        let checkboxes = document.querySelectorAll('.braille-checkbox');
        let resultado = '';

        checkboxes.forEach(checkbox => {
            if (checkbox.checked) {
                resultado += '1';
            } else {
                resultado += '0';
            }
        });

        document.getElementById('puntosSeleccionados').value = resultado;

        return true;
    }
</script>

<span id="tiempoRestante" th:text="${tiempoRestante != null ? tiempoRestante : 0}" style="display:none;"></span>
<script th:inline="javascript">
    document.getElementById("botonVidas").addEventListener("click", function() {
        let vidasRestantes = document.getElementById("vidasNumero").innerText;
        let tiempoRestante = document.getElementById("tiempoRestante").innerText;

        let esPremium = /*[[${suscripcion == 'premium'}]]*/ false;

        console.log("Tiempo restante:", tiempoRestante);

        let mensajeHtml = `Te quedan ${vidasRestantes} vidas <i class="fa-solid fa-heart"></i>.`;

        if (!esPremium) {
            mensajeHtml += `<br>Tiempo restante para la próxima vida: <i class="fa-solid fa-clock-rotate-left"></i> ${tiempoRestante} segundos.`;
        }

        Swal.fire({
            title: 'Vidas Restantes',
            html: mensajeHtml,
            icon: 'info',
            confirmButtonText: 'OK',
            didOpen: () => {
                const script = document.createElement('script');
                script.src = 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/js/all.min.js';
                document.head.appendChild(script);
            }
        });
    });
</script>

<script th:inline="javascript">
    function actualizarExperiencia(experiencia) {
        const barra = document.querySelector('.experiencia-llena');
        const porcentaje = (experiencia / 2000) * 100;
        barra.style.width = porcentaje + '%';
        barra.style.backgroundColor = '#4caf50';  // Color de la barra cuando se llena
    }

    actualizarExperiencia([[${experiencia}]]);
</script>
<script th:inline="javascript">
    let esPremium = /*[[${suscripcion == 'premium'}]]*/ false;

    if (!esPremium) {
        Swal.fire({
            title: 'Vidas Restantes',
            html: `Te quedan ${vidasRestantes} vidas <i class="fa-solid fa-heart"></i>.<br>Tiempo restante para la próxima vida: <i class="fa-solid fa-clock-rotate-left"></i> ${tiempoRestante} segundos.`,
            icon: 'info',
            confirmButtonText: 'OK',
            didOpen: () => {
                const script = document.createElement('script');
                script.src = 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/js/all.min.js';
                document.head.appendChild(script);
            }
        });
    }
</script>
<script>

    document.getElementById('botonCerrar').onclick = function() {
        document.getElementById('modalSalir').style.display = 'block';
    };

    document.getElementById('cancelarSalir').onclick = function() {
        document.getElementById('modalSalir').style.display = 'none';
    };

    document.getElementById('confirmarSalir').onclick = function() {
        let combinado = document.getElementById("combinado").getAttribute("data-combinado");
        if(combinado != null && combinado){
            window.location.href = '/braille/lecciones/combinado';
        }else{
            window.location.href = '/braille/lecciones/matriz';
        }
    };

    window.onclick = function(event) {
        const modal = document.getElementById('modalSalir');
        if (event.target === modal) {
            modal.style.display = 'none';
        }
    };

</script>

<div th:if="${titulo != null}">
    <script th:inline="javascript">
        document.addEventListener("DOMContentLoaded", function() {
            // Obteniendo la experiencia actual
            let experiencia = parseInt(document.getElementById("experiencia").innerText, 10);
            let titulo = [[${titulo}]];
            let mensaje = `Desbloqueaste el título <strong>${titulo}</strong>`;



            // Revisamos si ya se mostró un título previamente usando localStorage
            let ultimoTitulo = localStorage.getItem("ultimoTitulo");

            // Si no es el mismo título que el último desbloqueado, mostrar el mensaje
            if (titulo !== ultimoTitulo) {
                // Verifica la experiencia para determinar qué título mostrar y qué alertar
                if (experiencia >= 5000) {
                    mensaje += `<br> ¡Obtuviste 100 <i class="fa-solid fa-coins"></i> ComunicoPoints y regeneras tus vidas 30 minutos antes! <i class="fa-solid fa-clock-rotate-left"></i> `;
                    Swal.fire({
                        title: '¡Desbloqueaste un nuevo título!',
                        html: `<br>${mensaje}`,
                        icon: 'success',
                        confirmButtonText: 'OK'
                    });
                } else if (experiencia >= 3500) {
                    mensaje += `<br> ¡Obtuviste 60 <i class="fa-solid fa-coins"></i> ComunicoPoints y regeneras tus vidas 20 minutos antes! <i class="fa-solid fa-clock-rotate-left"></i> `;
                    Swal.fire({
                        title: '¡Desbloqueaste un nuevo título!',
                        html: `<br>${mensaje}`,
                        icon: 'success',
                        confirmButtonText: 'OK'
                    });
                } else if (experiencia >= 2000) {
                    mensaje += `<br> ¡Obtuviste 40 <i class="fa-solid fa-coins"></i> ComunicoPoints y regeneras tus vidas 10 minutos antes! <i class="fa-solid fa-clock-rotate-left"></i> `;
                    Swal.fire({
                        title: '¡Desbloqueaste un nuevo título!',
                        html: `<br>${mensaje}`,
                        icon: 'success',
                        confirmButtonText: 'OK'
                    });
                } else if (experiencia >= 500) {
                    mensaje += `<br> ¡Obtuviste 20 <i class="fa-solid fa-coins"></i> ComunicoPoints y regeneras tus vidas 5 minutos antes! <i class="fa-solid fa-clock-rotate-left"></i> `;
                    Swal.fire({
                        title: '¡Desbloqueaste un nuevo título!',
                        html: `<br>${mensaje}`,
                        icon: 'success',
                        confirmButtonText: 'OK'
                    });
                }

                // Almacenar el nuevo título para que no se muestre nuevamente
                localStorage.setItem("ultimoTitulo", titulo);
            }
        });
    </script>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>
