<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Comunico </title>
  <link rel="icon" th:href="@{/img/Isologo-Comunico.svg}" type="image/x-icon">
  <link rel="stylesheet" th:href="@{/css/inicio.css}">
  <link href="https://db.onlinewebfonts.com/c/14936bb7a4b6575fd2eee80a3ab52cc2?family=Feather+Bold" rel="stylesheet">
  <script src="https://kit.fontawesome.com/0c2f2ab9be.js" crossorigin="anonymous"></script>
</head>

<body>

<div th:replace="header :: header"></div>


<section class="inicio">
  <div class="bienvenida">
    <h2>¡Bienvenido a Comunico!</h2>
    <p>La forma divertida, efectiva y gratis de aprender lengua de señas y braille.</p>
  </div>
  <div class="modulos">
    <div class="modulo">
      <h3>Señas</h3>
      <p>Aprendé con imágenes y juegos interactivos.</p>
      <a th:href="@{/senias}">Empezar</a>
    </div>
    <div class="modulo">
      <h3>Braille</h3>
      <p>Conocé el alfabeto en braille y ponete a prueba.</p>
      <a th:href="@{braille}">Empezar</a>
    </div>
  </div>
</section>

<section class="contenido">
  <div class="ilustracion">
    <img src="https://design.duolingo.com/4bdb27f6aebbf4f6ae23.svg" alt="Ilustración">
  </div>

  <div class="calendario">
    <h2>Cursos online</h2>
    <form action="#" method="post">
      <label for="fecha-clase">Seleccioná una fecha:</label>
      <input type="date" id="fecha-clase" name="fecha-clase">
      <input type="submit" value="Inscribirse">
    </form>
    <div class="eventos">
      <h3>Cursos disponibles:</h3>
      <a th:href="@{/cursos}" class="boton-ver-cursos">Ver cursos disponibles</a>
    </div>
  </div>
</section>

<div th:replace="footer :: footer"></div>

</body>
</html>
