<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Comunico</title>
  <link rel="icon" th:href="@{/img/icon.svg}" type="image/x-icon">
  <link rel="stylesheet" th:href="@{/css/senias.css}"/>
  <link rel="stylesheet" th:href="@{/css/header.css}"/>
  <link href="https://db.onlinewebfonts.com/c/14936bb7a4b6575fd2eee80a3ab52cc2?family=Feather+Bold" rel="stylesheet">
  <script src="https://kit.fontawesome.com/0c2f2ab9be.js" crossorigin="anonymous"></script>
</head>

<body>

<div th:replace="header :: header"></div>

<div class="barra-experiencia">
  <div class="experiencia-llena" th:style="'width: ' + ${experiencia / 2000 * 100} + '%'">
    <p> <span th:text="${experiencia}" id="experiencia"> 0</span>/2000XP</p>
  </div>
</div>


<div class="titulo"><i class="fa-regular fa-hand"></i> Lecciones de Lengua de señas</div>
<div class="leccionesBasicas">
  <a th:href="@{/senias/alfabeto}"><input class="lecciones" type="button" name="abecedario" id="abc" value="Abecedario"></a>
  <a th:href="@{/leccion/4}"><input class="lecciones" type="button" name="" id="gestos" value="Reconocé gestos"></a>
  <input class="lecciones" type="button" name="" id="dialogos" value="Practicá diálogos simples">
  <input class="lecciones" type="button" name="" id="emociones" value="Expresá emociones con señas">
  <input class="lecciones" type="button" name="" id="desafio" value="Aprendé conversaciones comunes">
</div>

<div class="volver-atras-container">
  <a th:href="@{/inicio}" class="volver-atras">Volver atrás</a>
</div>>

<script th:inline="javascript">
  function actualizarExperiencia(experiencia) {
      const barra = document.querySelector('.experiencia-llena');
      const porcentaje = (experiencia / 2000) * 100;
      barra.style.width = porcentaje + '%';
      barra.style.backgroundColor = '#4caf50';  // Color de la barra cuando se llena
  }

  actualizarExperiencia([[${experiencia}]]);
</script>
<div th:replace="footer :: footer"></div>

</body>
</html>
